#nb_allumettes_a_enlever{
    width: 200px;
}

#nb_joueur{
	width: 250px;
}

body {
	background: linear-gradient(90deg, #140f07, #0f234c, #195ab2, #4694ff, #81d8fd);
}

div{
	margin: auto;
	justify-content: center;
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	gap: 10px 40px;
}

label{
	font-size: 20px;
}